<html ng-app='FacebookApp'>
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='FriendController.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body>

<h1>The <strong>facebook</strong> Friend Machine</h1>

<div class="friends" ng-controller='FriendController'>


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  <input class="form-control" placeholder="Search Your Friends By Name" ng-model='searchname.name'>
  <input class="form-control" placeholder="Search Your Friends By Location" ng-model='searchlocation.current_location'>
  
    <select class="input-medium" ng-model="dropFilter">
        <option value='name'>Name</option>
        <option value='friend_count'># friends</option>
        <option value='current_location.city'>City</option>
        <option value='current_location.state'>State</option>
        <option value='current_location.country'>Country</option>
    </select>
    <select class="input-medium" ng-model="sortOrder">
        <option value="true">Descending</option>
        <option value="false">Ascending</option>
    </select>
  </div>
</form>

  <ul>
    <li class='friend' ng-repeat= 'MyFriend in friends | filter:searchname | filter:searchlocation | orderBy:dropFilter:sortOrder'>
       <img class="profile-pic" ng-src="{{MyFriend.pic_square}}">
      <h3>{{MyFriend.name}}</h3>
      <div ng-if="MyFriend.current_location!=null" class="location">
        City: {{MyFriend.current_location.city}},  State: {{MyFriend.current_location.state}},  Country: {{MyFriend.current_location.country}} 
      </div>      
      <div ng-if="MyFriend.status.message!=null" class="status">
        Status: {{MyFriend.status.message}}
      </div>      
      <div ng-if="MyFriend.friend_count!=null" class="num-friends">
        Friend Count: {{MyFriend.friend_count}}
      </div>
    </li>
  </ul>
</div>






</body>
</html>